body
{
    background-color: #181818;
}

.cme
{
    color: #D4AF37;
}

.card-img-top
{
    width: 100%;
    height: 405px;
}

.card.search
{
    border-color: #D4AF37;
    width: 25rem;
}

.card
{
    border-color: #D4AF37;
}

.card-body
{
    background-color: #D4AF37;
}

.card:hover {
    cursor: pointer;
}

.left-align-card{
    margin-left: 0;
    margin-right: auto;
}

.btn.btn-outline-dark:hover{
    background-color: black;
}

.image
{
    width: auto;
    height: auto;
    margin: 2px;
}


.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}




.thisisit
{
    color: #808588;
}

.container.containing-card
{
    display: flex;
    align-items: flex-start;
}
.grow
{
    flex: 1;
}

.container.shrink
{
    width: fit-content;
}

.text-lg
{
    font-size: larger;
}