{% extends "layout.html" %}

{% block title %}
Search Title
{% endblock %}

{% block main %}
<div class="container containing-card">
    <div class='container'>
        <div class='row justify-content-center'>
            <div class='col'>
                <div class='card search'>
                    <img class='card-img-top rounded' src="{{ card['image'] }}" alt = '...'>
                    <div class='card-body'>
                        <h5 class='card-title'>{{ card['title']}}</h5>
                        <div class="card-text"> {{ card['overview'] }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h1 class="h2 thisisit"> Displaying for your region : {{code}}</h1>
        <table class="table my-5 striped grow" width="250px" data-bs-theme="dark">
            <thead>
                <th scope='col'>Service</th>
                <th scope='col'>Type</th>
                <th scope='col'>Price</th>
            </thead>
            <tbody>
                {% for option in streaming %}
                    <tr><td>{{ option['service'] }}</td><td>{{ option['type'] }}</td><td><a class='link link-offset-2 link-underline link-underline-opacity-0' href="{{ option['link']}}">{{ option['price'] }}</a></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
   
    

{% endblock %}